@mixin baseFont(){
  font-family: $font-family;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

h1, h2, h3, h4, h5 {
  @include baseFont();
}

h1 {
  font-size: 45px;
  letter-spacing: 1.4px;
}

h2 {
  font-size: 25px;
  line-height: 1.32;
  letter-spacing: 1px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 4.94;
  letter-spacing: 9.1px;
}

p {
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.6px;
}
